/ClteServicioAlmacen_Estad/nbproject/private/
/ClteServicioAlmacen_Estad/build/
/ClteServicioAlmacen_Estad/dist/
/ClientePago_Estad/nbproject/private/
/ClientePago_Estad/build/
/ClientePago_Estad/dist/
/ClteTiendaOnline/nbproject/private/
/ClteTiendaOnline/build/
/ClteTiendaOnline_Estad/nbproject/private/
/ClteTiendaOnline_Estad/build/
/ClteTiendaOnline_Estad/dist/