/ClteServicioAlmacen_Estad/nbproject/private/
/ClteServicioAlmacen_Estad/build/
/ClteServicioAlmacen_Estad/dist/
/ClientePago_Estad/nbproject/private/
/ClientePago_Estad/build/
/ClientePago_Estad/dist/